* {
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    background-color: white;
  }
  
  main {
    padding: 0;
    margin: 0;
  }
  
  /* Footer */
  .wave {
    margin: 0;
    border-bottom: 4px solid #2d3e50;
    height: 80px;
  }
  .foot {
    background-color: #2d3e50;
    justify-items: center;
    display: grid;
    padding: 20px;
    margin-top: 0;
    padding: 0;
    color: white;
  }
  
  .foot .copy {
    width: 80;
    font-size: 0.7em;
    padding: 30px 0;
  }
  
  .grid-container {
    grid-template-columns: repeat(2, 0.5fr);
    grid-gap: 20px;
    justify-items: center;
    width: 75vw;
    display: grid;
  }
  
  .grid-item {
    text-align: left;
    padding: 20px;
    width: 70%;
    border-radius: 25px;
  }
  
  .grid-item p {
    margin-top: 3px ;
    font-size: 0.7em;
  }
  
  /*Navigasi*/
  nav {
    display: flex;
    background-color: white;
    justify-content: space-around;
    /*padding: 10px 0 ;*/
    color: black;
    align-items: center;
    height: 50px;
  }
  
  
  .logo {
    font-size: 1.1em;
    color: #2D3E50;
    font-family: 'Mali','Ubuntu', sans-serif;
  }
  
  .logo span {
    color: white;
    background-color: #2D3E50;
    border-radius: 15px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    width : 40%;
    justify-content: space-between;
  }
  
  nav ul li a {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: black;
    padding: 10px 10px;
    border-radius: 30px;
    align-content: center;
    cursor: pointer;
    display: inline-block;
    transition: background-color 1s ease;
  }
  
  nav ul li a:hover {
    background-color: #2D3E50;
    color: white;
  }
  
  /* Main */
  .container {
    padding: 20px;
    display: grid;
    padding-bottom: 30px;
  }
  
  .content {
    display: grid;
    justify-content: center;
    align-content: center;
    padding-bottom: 30px;
  }
  
  .content .profil img{
    width: 80vw;
  }
  
  .content .profil h2 {
    margin: 2vw;
    text-align: center;
    width: 80vw;
  }
  
  .content .info {
    width: 80vw;
  }
  
  .content .info .card {
    margin-top: 20px;
  }
  
  .content .info .card p span, h3{
    font-size: 1.1em;
    font-weight: bold;
  }
  
  /*Hamburger Menu*/
  .menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    position: relative;
    z-index: 2;
  }
  
  .menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background: black;
    border-radius: 3px;
    transition: all 0.5s;
  }
  
  .menu-toggle input {
    display: block;
    position: absolute;
    width: 30px;
    height: 25px;
    left: -3px;
    top: -3px;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
  }
  
  /*Hamburger Menu Animation*/
  .menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
  }
  .menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
  }
  .menu-toggle input:checked ~ span:nth-child(2) {
    background-color: black;
    transform: rotate(45deg) translate(-1px, -1px);
  }
  .menu-toggle input:checked ~ span:nth-child(4) {
    background-color: black;
    transform: rotate(-45deg) translate(-1px,0);
  }
  .menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
  }
  
  /* Aside*/
  aside {
    position: fixed;
    inset-block: 0;
    inset-inline-start: 0;
  }
   
  aside .social-media {
    height: 100%;
    display: flex;
  }
   
  aside .social-media ul {
    padding: 0.8rem 0.5rem;
    margin: auto;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #2D3E50;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
  }
   
  aside .social-media li {
    list-style-type: none;
  }
   
  aside .social-media li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    transition: all .1s ease-in-out;
  }
   
  aside .social-media li a:hover {
    color: #89b0d9;
  }
   
  
  /*responsive*/
  @media (min-width: 769px) {
    .wave {
    margin: 0;
    border-bottom: 4px solid #2d3e50;
    height: 190px;
  }
  }
  
  @media (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
    nav {
      order: -1;
      justify-content: space-between;
    }
    .menu-toggle {
      display: flex;
      margin-top: 10px;
      margin-right: 10px;
    }
    
    .grid-container {
    grid-template-columns: repeat(1, 0.5fr);
    }
    
    /*Slide Navbar*/
    nav ul {
      position: fixed;
      right: 0;
      height: 91vh;
      bottom: 0;
      background-color: #2d3e50;
      width: 25%;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      z-index: 999;
      transform: translate(100%);
      opacity: 0;
      transition: all 1s;
      border-left: 2px solid #2D3E50;
      border-top: 2px solid #2D3E50;
      border-bottom: 2px solid #2D3E50;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    
    nav ul li a {
      margin-top: 3vh;
      color: white;
    }
    nav ul.slide {
      opacity: 1;
      transform: translateX(0);
    }
  }